<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span><img src="./src/assets/crypto.png">  </span><span class="fs-5 d-none d-sm-inline">CRYOPTOVERSE</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white " id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0 text-white " routerLink="home">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white ">Home</span>
            </a>
          </li>

          <li>
            <a href="#" class="nav-link px-0 align-middle text-white " routerLink="cryptocurrencies">
              <i class="fs-4 bi-graph-up"></i> <span class="ms-1 d-none d-sm-inline">Cryptocurencies</span></a>
          </li>


          <li>
            <a href="#" class="nav-link px-0 align-middle text-white " routerLink="news">
              <i class="fs-4 bi-bookmark-star"></i> <span class="ms-1 d-none d-sm-inline">Exchange </span> </a>
          </li>

          <li>
            <a href="#" class="nav-link px-0 align-middle  text-white " routerLink="news">
              <i class="fs-4 bi-lightbulb"></i> <span class="ms-1 d-none d-sm-inline">News </span> </a>
          </li>
        </ul>
        <hr>

      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>