<div class="d-flex flex-wrap" style="height: 100px;">
    <div *ngFor="let item of products" class="card m-2 p2" style="width: 80px;">
        
        <div class="card-header">
             <p>{{item.coins.name}}</p>
                <span><img [src]="item.iconUrl" height="20" class="card-img-top"></span>
        </div>
        <div class="card-body">
         <p>price: {{item.coins.price}}</p>
         <p>market Cop : {{item.coins.marketCap}}</p>
         <p>Daily Change: {{item.coins.change}}</p>
        </div>
    </div>
</div>